<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My IDE</title>
    <link rel="stylesheet" href="stylesheets/editor.css"> </head>

<body>
    <div id="toggle-theme-container">
        <input type="checkbox" id="toggle-theme">Dark</div>
    <div id="editor"> //Write your code here </div>
    <br>
    <select id="lang-selector">
        <option value="C">C</option>
        <option value="Cpp">C++</option>
        <option value="Java">Java 8</option>
        <option value="Python">Python3</option>
        <option value="Node.js">Node.js v6.11.0</option>
    </select>
    <textarea id="stdin" cols="40" rows="10"></textarea>
    <textarea id="stdout" cols="40" rows="10" hidden="true"></textarea>
    <textarea id="stderr" cols="40" rows="10" hidden="true"></textarea>
    <br>
    <input type="submit" id="run" value="Run"> </body>
<script src="javascripts/libs/jquery-3.2.1.min.js"></script>
<script src="javascripts/libs/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="javascripts/libs/ace-builds/src-noconflict/ext-language_tools.js"></script>
<script>
    ace.require("ace/ext/language_tools");
    var editor = ace.edit("editor");
    editor.setOptions({
        enableBasicAutocompletion: true
        , enableSnippets: true
        , enableLiveAutocompletion: true
    });
    editor.getSession().setMode("ace/mode/c_cpp");
</script>
<script src="javascripts/abc.js"></script>

</html>