<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My IDE</title>
<script src="javascripts/libs/jquery-3.2.1.min.js"></script>
<script src="javascripts/abc.js"></script>
</head>
<body>
    <textarea id="code" cols="100" rows="100">
        
    </textarea><br>
    <textarea id="stdin" cols="40" rows="10"></textarea><br>
<input type="submit" id="run" value="Run">    
</body>
</html>